html {
    height: 100%;
  }
  
  body {
    height: auto;
    background: #e9eaed;
    font: 14px 'Open Sans', sans-serif;
  }
  .clear
  {
      color: darkgray;
      font-weight: 600;
      cursor: pointer;
  }
  .clear:hover
  {
      color: cornflowerblue;
  }
  .list_main .list
  {
    color:#333;
    font-weight: 700;
    background-color:white;
    word-break: break-all;
    box-shadow: 1px 1px 2px #333;
    border-radius: 8px;
  }
  .list_main .list input
  {
    background-color: transparent;
    border:none;
  }